*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: cursive;
}

body{
	background: #38ff8f;
	background-image: linear-gradient(90deg, red, transparent);
}

.myform{
	margin: 150px;
	padding: 50px;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 350px;
	width: 450px;
	background-color: #14a9ed;
	border: 8px solid white;
	border-radius: 15px;
	background-image: linear-gradient(45deg, red, transparent);
}

.wts{
	color: white;
	font-weight: bold;
	padding: 10px;
	background-color: #38ff8f;
	height: 30px;
	width: 200px;
	border: 2px solid white;
	border-radius: 8px;
	font-size: 15px;
	background: transparent;
}
.hts{
	color: white;
	font-weight: bold;
	padding: 10px;
	background-color: #38ff8f;
	height: 30px;
	width: 200px;
	border: 2px solid white;
	border-radius: 8px;
	font-size: 15px;
	background: transparent;
}

.calc{
	height: 40px;
	width: 100px;
	color: white;
	background-color: #38ff8f;
	border: 2px solid white;
	border-radius: 5px;
	font-size: 20px;
	background-image: linear-gradient(230deg, #99f120, #00f1ff);
}

form{
	font-size: 20px;
	color: #fefefe;
}

.showData{
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.myform{
	margin-left: 430px;
}

::placeholder {
  color: white;
  opacity: 0.5; 
}
